@model  districtsmasters


@using (Html.BeginForm())
{

   @*@using (Html.BeginCollectionItem("districtsmasters"))*@
   {
@*<div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-10 xs-12">
                    @Html.DropDownListFor(m => m.district, (SelectList) ViewBag.Districts, "", new { @class = "form-control col-lg-12 col-sm-12" })
                </div>
            </div>
            <div class="pull-right col-lg-2">
                <button class='btnDelete btn btn-default' type='button'>Удалить</button>
            </div>
        </div>
        <br />
    </div>*@

<tr>
    <td>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.district, (SelectList) ViewBag.Districts, "", new { @class = "form-control col-lg-12 col-sm-12" })
        </div>
    </td>
    <td>
        <button class='btnDelete btn btn-default' type='button'>Удалить</button>
    </td>
</tr>
}
}
